<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AISbibiDoctor1.Properties.Settings.ConnectionString"
            connectionString="Data Source=XE;User ID=bibi;Password=9;Unicode=True"
            providerName="System.Data.OracleClient" />
    </connectionStrings>
</configuration>